body {
    height: 100%;
    background: linear-gradient(90deg, #f2f2f2 50%, #fff 50%); 
    /* to color the page half half */
}
.col {
    padding: 1rem; /* from the box area tll the input is 1rem */
    margin: 1rem; 
}
/* for the logo */
img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* all articals in the 3 html pages */
article {
    /* using a grid */
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 0fr;
    padding: 1rem; /* from the box area tll the input is 1rem */
    margin: 1rem;
    font-family: 'Montserrat';
}
.one {
    padding: 1rem; /* from the box area tll the input is 1rem */
    margin: 1rem; 
}

h2 {
    color: #2699fb;
    font-family: 'Montserrat';
}

/* vid */
iframe {
    width: 50%;
    height: 500px;
}
/* end vid */
/* portfolio */
.two {
    display: flex;
    padding: 1rem; /* from the box area tll the input is 1rem */
    margin: 1rem; 
}

.three {
    padding: 1rem; /* from the box area tll the input is 1rem */
    margin: 1rem; 
}
/* end portfolio */

/* up arrow  */
.btn {
    background-color: #707070;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 18px;
    margin: 3px 2px;
    opacity: 0.9;
    transition: 0.8s;
  }
  
  .btn:hover {opacity: 6}
/* footer  */
footer {
    height: 180px;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: bold;   
    text-align: center; 
    padding: 20px;
    right: 30px;
    background-color: #707070;
    padding: 1rem; /* from the box area tll the input is 1rem */
}

.icons {
    color: #fff;
    animation-timing-function: ease-in-out;
}

/* end footer */


@media ( max-width: 414px) {
    .three {
        position: relative;
        width: 100%;
        padding-bottom: 50%;
        height: 0;
    }

    .three iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }
}