body {
    margin: 0; /* Apply to all four sides  0 */
    padding: 0;  /* Apply to all four sides 0 */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-image: url("../images/heather-barnes-EZXfS9_o9DA-unsplash.jpg");
    background-repeat: no-repeat; /* Do not repeat a background image. */
    background-size: 100%; /* the size of the image */
    background-position: center; /* the image must be in the center of the bage */
    background-attachment: fixed; /* don't scroll along with the page */
    background-size: cover; 
    position: relative;
    font-family: 'Times New Roman', Times, serif;   /* all the text to be time new roman */
}
  
.header {
    padding: 20px;
    text-align: center;
}
  
header > h1{
    font-size: 40px;
    color: #8053A8;
    text-shadow: 5px 5px 5px #507B4A;
}

.logo {
    padding: 3px;
    float: left;
    top: 8px;
    right: 16px;
}

.topnav {
    overflow: hidden;
    background-color: #8053A8;
}
  
.topnav a {
    float: left;
    display: flex;  /* using a flex  */
    align-items: center; /* Pack items around the center */    
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    transition: all 0.7s ease;  /* using animate */
    background-color: #507B4A; /* when you click it change the colors  */
    color: black;
}

article {
    /* using grid for the artical */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr;
}

.one {
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #D9BFF2;
    padding: 10px;
    margin: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.one h2{
    text-transform: uppercase; /* to do upper case for all text */
 
}

P  {
    color: #707070;
}

footer {
    display: flex;  /* using a flex  */
    align-items: center; /* Pack items around the center */
    justify-content: space-around;
    padding: 10px 10px;
    background-color: #8053A8;
}

div.blockone {
    justify-content: center;     /*  text around the center */
    text-align: center; /*  text around the center */
    color: white;
}

div.blockone h1 > a {
    color: #D9BFF2;    
}

.blocktwo a {
    list-style-type: none; /* No item marker is shown.*/
    color: #D9BFF2;
    text-decoration: none; /* to remove underline of li list  */
    justify-content: center;     /*  text around the center */
}

div.blocktwo {
    box-sizing: border-box;
    justify-content: center;     /*  text around the center */
    text-align: center; /*  text around the center */
}

div.sectionthree h2, div.sectionthree p {
    color: white;
}

@media (max-width: 584px){

    footer {
        display: flex;
    }
}

@media(max-width: 459px) {

    footer {
        display: grid;
    }
}