body {
    margin: 0;
}
/* header */
header {
/* using grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-color:#7851a9; /* background color for header section */
}

.topnav a {
    text-align: center;
    margin-left: 2.5em; /* space between  */
    color: white;
    font-size: 20px;
    padding: 14px 16px;
    text-decoration: none;  /* to remove underline of li list  */
    text-align: center;
}

.topnav a:active{
    /* the colors for active nav */
    background-color: #30733F;
    color: white;
    box-shadow: gray 5px 5px 5px;
}
/* End header */

/*  */






/* footer */
footer {
    position: fixed; /* always stays in the same place even if the page is scrolled */
    bottom: 0;
    width: 100%;
    background-color: #7851a9;
/* using grid to section my footer */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

div.blockone {
    justify-content: center;     /*  text around the center */
    text-align: center; /*  text around the center */
    color: white;
}

div.blockone h1 > a {
    color: #D9BFF2;    
}

.blocktwo a {
    list-style-type: none; /* No item marker is shown.*/
    color: #D9BFF2;
    text-decoration: none; /* to remove underline of li list  */
    justify-content: center;     /*  text around the center */
}

div.blocktwo {
    box-sizing: border-box;
    justify-content: center;     /*  text around the center */
    text-align: center; /*  text around the center */
}

div.sectionthree h2, p {
    color: white;
}
/* end footer */

@media screen and (max-width: 400px) {
/* header */
    header a {
        text-align: center; /* centaring the taxt */
        float: none;
    }
/* end header */
    /* footer */
    footer {
        /* using flex to section my footer */
        display: flex;
        flex-direction: column;
        position: fixed; /* always stays in the same place even if the page is scrolled */
        justify-content: center;     /*  text around the center */
    }

    .blocktwo a, .blockone h1, .blockone a, .blockthree h2, .blockthree p{
        text-align: center; /* centaring the taxt */
        float: none;
    }
}


@media screen and (max-width: 1800px) {
    /* header */
    header a {
        width: 100%;
        height: auto;
    }
    /* end header */
    /* footer */
    footer {
        width: 100%;
        height: auto;
        position: fixed; /* always stays in the same place even if the page is scrolled */
    }
  }