body {
    margin: 0; /* Apply to all four sides  0 */
    padding: 0;  /* Apply to all four sides 0 */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif; /* all the text will be used as a times new roman  */
    background-image: url("../images/heather-barnes-EZXfS9_o9DA-unsplash.jpg");
    background-repeat: no-repeat; /* Do not repeat a background image. */
    background-size: 100%; /* the size of the image */
    background-position: center; /* the image must be in the center of the bage */
    background-attachment: fixed; /* don't scroll along with the page */
    background-size: cover; 
    position: relative;
}

/* header  */
.header {
    padding: 20px;
    text-align: center;
}
  
.header  h1{
    font-size: 40px;   /* the font of the h1 line */
    color: #8053A8;     /* the color of text "FUN" */
    margin-left: 150px;
}

.header h1 > a {
    color: #D9BFF2;   
    /* the color of text "Breeze" */ 
}

.logo {
    padding: 3px;
    float: left;
    top: 8px;
    right: 16px;
}
/* navigation */
.topnav {
    overflow: hidden;
    background-color: #8053A8;
}
  
.topnav a {
    float: left;
    display: flex;  /* using a flex  */
    align-items: center; /* Pack items around the center */    
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
  
.topnav a:hover {
    transition: all 0.7s ease;  /* using animate */
    background-color: #507B4A; /* when you click it change the colors  */
    color: black;
}


.beginning {
    padding: 25px 25px;
    max-width: 450px; /* for the box whidth */
    width: 50%;
    border-radius: 10px; /* Radius is set for all 4 sides by 10px*/
    box-shadow: 0 10px 10px #507B4A;
    margin-top: 100px;
}
/* the beganing of the form */
.beginning .title {
    position: relative;
    font-size: 25px;
    font-weight: bold; /* makes the taxt bold */
    color: #507B4A;
}

.content form .user {
    margin: 10px 0 10px 0; /* spacing between the text. */
    display: flex;  /* using a flex  */
    flex-wrap: wrap;
    justify-content: space-between; /* spacing between each pair of adjacent items is the same. */
}

form .input-box span.holder{
    display: block;
}

.user .input-box input{
    height: 30px;
    width: 100%;
    border-radius: 6px; /* Radius is set for all 4 sides by 10px */
    padding-left: 1px;   /* for the text moving left by 15px inside the input */
}

/* this css for the typing. when tou type for example your namw */
.user .input-box input:focus,
.user .input-box input:valid{
    color: #507B4A;  /* the text of your name changes to green */
/* learning this code from codinglab.come */
}

form .gender-details .gender-title{
    font-size: 20px;
}

form .category{
    display: flex;  /* using a flex  */
    justify-content: space-between; /* spacing between each pair of adjacent items is the same. */
    width: 40%;  /* the size between the category */
    margin: 10px 10px;
}

form .category label{
    display: flex;  /* using a flex  */
    text-align: center; /*  text around the center */
}

form .category label .dot{
    margin-right: 10px;
    background: #D9BFF2;
    border-radius: 30%; /* Radius is set for all 4 sides by 30% */
    height: 20px;
    width: 20px;
    border: 5px solid;
    transition: all 0.7s ease-out;  /* using animate */ /* this code Ilearned from 3WSchool   */
    box-shadow: 5px 5px 5px #707070;
}
/* The general sibling selector selects all elements that are next siblings of a specified element. */
/* thats means select every .one element that are preceded by a #square-1 element*/
 #square-1:checked ~ .category label .one,
 /* select every .two element that are preceded by a #square-2 element*/
 #square-2:checked ~ .category label .two,
/* select every .three element that are preceded by a #square-3 element*/
 #square-3:checked ~ .category label .three{
    background-color: #507B4A;
/* this section for when clicking the dot/square it will change the color*/
/* this code Ilearned from CodeingLab.come   */
}

 form input[type="radio"] {
    display: none;
}

 form .button{
    height: 45px;
}

 form .button input {
    height: 100%;
    width: 100%;
    border-radius: 15px; /* Radius is set for all 4 sides by 15px */
    border: none;
    color: #fff;
    font-size: 25px;
    transition: all 0.7s ease;    /* using animate */  /* this code I learned from 3WSchool   */
    background: #D9BFF2;
}

 form .button input:hover {
    background: #507B4A;
}
/* footer */
footer {
    display: flex;  /* using a flex  */
    align-items: center; /* Pack items around the center */
    justify-content: space-around;
    padding: 10px 10px;
    background-color: #8053A8;
}

div.blockone {
    justify-content: center;     /*  text around the center */
    text-align: center; /*  text around the center */
    color: white;
}

div.blockone h1 > a {
    color: #D9BFF2;    
}

.blocktwo a {
    list-style-type: none; /* No item marker is shown.*/
    color: #D9BFF2;
    text-decoration: none; /* to remove underline of li list  */
    justify-content: center;     /*  text around the center */
}

div.blocktwo {
    box-sizing: border-box;
    justify-content: center;     /*  text around the center */
    text-align: center; /*  text around the center */
}

div.sectionthree h2, div.sectionthree p {
    color: white;
}

@media(max-width: 584px){

    .topnav {
        width: 100%;
        display: flex;
        /* using flex */
    }

    .beginning {
    max-width: 100%;
    }

    form .user .input-box {
        margin-bottom: 15px;  
        width: 100%;
    }

    form .category {
        width: 100%;
    }

    .content form .user {
        max-height: 700px;
    }

    footer {
        width: 100%;
        display: flex;
        /* using flex */
    }
    
}

@media(max-width: 459px) {

    .topnav {
        width: 100%;
        display: flex;
        /* using flex */
    }
    
    .beginning .content .category {
        flex-direction: column;
    }

    footer {
        width: 100%;
        display: grid;
        /* using grid */
    }
    
}